h1{
    text-align: center;
}
li{
    list-style: none;
    color: white;
}
h3{
    margin: 5px;
}
.skillsheading{
    margin: 5px;
}
.skill{
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(204, 197, 197, 0.233),0 10px 10px rgba(204, 197, 197, 0.233);
}
.skill li{
    margin: 20px 0;
    padding: 10px;
}
.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(204, 197, 197, 0.233), 0 1px 2px rgba(204, 197, 197, 0.233);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  
  .bar:hover {
    box-shadow: 0 14px 28px rgba(204, 197, 197, 0.233), 0 10px 10px rgba(204, 197, 197, 0.233);
  }
  
  .bar span {
    height: 100%;
    display: block;
    width: 0;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1) 0%, rgba(252, 103, 103, 1) 100%);
    border-radius: 10px;
    transition: width 0.8s ease-in-out;
  }
.java {
    width: 0%;
    animation: java 3s forwards;
  }
.dsa{
    width: 0%;
    animation: dsa 3s forwards;
  }
.html{
    width: 0%;
    animation: html 3s forwards;
  }
.css{
    width: 0%;
    animation: css 3s forwards;
  }
.javascript {
    width: 0%;
    animation: javascript 3s forwards;
  }
.react{
    width: 0%;
    animation: react 3s forwards;
  }
.nodejs{
    width: 0%;
    animation: nodejs 3s forwards;
  }
.expressjs{
    width: 0%;
    animation: expressjs 3s forwards;
  }
.mongodb{
    width: 0%;
    animation: mongodb 3s forwards;
  }
  @keyframes java {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
  }
  @keyframes dsa {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }
  @keyframes html {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  @keyframes css {
    0% {
      width: 0%;
    }
    100% {
      width: 75%;
    }
  }
  @keyframes javascript {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
  @keyframes react{
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }
  @keyframes nodejs {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }
  @keyframes expressjs {
    0% {
      width: 0%;
    }
    100% {
      width: 55%;
    }
  }
  @keyframes mongodb {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }
 @media (min-width: 768px) and (max-width: 1199px) {
    .skill {
        width: 70%;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    .skill {
        width: 85%;
    }
}

@media (max-width: 575px) {
    .skill {
        width: 95%;
        padding: 15px;
    }

    .skill-item {
        margin: 15px 0;
        padding: 5px;
    }

    .bar {
        height: 15px;
    }
}
